# GitHub Actions Workflow to build, push Docker images to Gcrh.io and deploy to OpenShift
name: Build and push Guestbook images
# Triggered on push to main branch
on:
  push:
    branches:
      - main
# Set permissions for the workflow
permissions:
  contents: read
  packages: write
# Define the jobs in the workflow
jobs:
  # JOB 1: BUILD
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: backend
            context: ./backend
            image: le-guestbook-backend   
          - name: frontend
            context: ./frontend
            image: le-guestbook-frontend  
    # Steps to build and push Docker images
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.context }}
          push: true
          platforms: linux/amd64
          tags: ghcr.io/${{ github.repository_owner }}/${{ matrix.image }}:latest

  # JOB 2: DEPLOY
  deploy:
    needs: build  
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
# Install oc CLI and log in to OpenShift
      - name: Install oc CLI
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          oc: "4"
# Debugging step to verify secrets
      - name: Debug Secrets
        run: |
          if [ -z "${{ secrets.OPENSHIFT_SERVER }}" ]; then
            echo "ERROR: OPENSHIFT_SERVER is empty!"
          else
            echo "SUCCESS: OPENSHIFT_SERVER is found (it is masked, which is good)."
          fi
# Log in to OpenShift and apply configurations
      - name: Log in to OpenShift
        env:
          OPENSHIFT_TOKEN: ${{ secrets.OPENSHIFT_TOKEN }}
          OPENSHIFT_SERVER: ${{ secrets.OPENSHIFT_SERVER }} 
        run: oc login $OPENSHIFT_SERVER --token=$OPENSHIFT_TOKEN --insecure-skip-tls-verify=true

      - name: Select Project (for this specific assignment)
        run: oc project test-miljo2

      - name: Apply Configuration
        run: oc apply -f k8s/
      
# Restart deployments to use new images
      - name: Restart Apps
        run: |
          oc rollout restart dc/le-guestbook-backend
          oc rollout restart dc/le-guestbook-frontend